---
import { Image } from "astro:assets";
import Test from "../img/kimushin.jpg";
---

<header class="header">
  <div class="inner">
    <Image src={Test} alt="" />

    <ul>
      <li><a href="">TOP</a></li>
      <li><a href="">News</a></li>
    </ul>
  </div>
</header>

<style>
  .header {
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }

  .header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header ul {
    display: flex;
  }

  .header li {
    list-style-type: none;
  }

  .header li a {
    padding: 0 5px;
    color: #000;
    text-decoration: none;
  }
</style>
